# Virtual Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

/.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

pdfs/
rolls_royce/
data_backup/
milvus_data/